<div class="full_screen">
  <div id="safe_screen" class="content">&nbsp;</div>

  <div id="answer" class="content">
    <%= render_with_code @answer.body %>
  </div>

  <div id="question" class="content">
    <%= render_with_code @answer.question %>
  </div>
</div>
