<% @game.categories.each do |category| %>
  <div class="category">
    <div class="category_name">
      <div class="content">
        <%= category.name %>
      </div>
    </div>
    <% category.answers.each do |answer| %>
      <div class="reward">
        <div class="content">
          <%= render_reward(@game, category, answer) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
