// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jeopardy_blue: #1213B0;

#game_list {
  padding:   10px;
  font-size: 2em;
}

.category {
  float: left;
  
  .category_name, .reward {
    $game_block_width:  155px;
    width:              $game_block_width;
    $game_block_height: 75px;
    height:             $game_block_height;
    margin-left:        10px;
    background-color:   $jeopardy_blue;
    
    .content {
      width:          $game_block_width;
      height:         $game_block_height;
      display:        table-cell;
      vertical-align: middle;
      text-align:     center;
    }
  }
  
  .category_name {
    margin-top:    10px;
    margin-bottom: 20px;
    font-size:     18pt;
  }
  
  .reward {
    margin-top: 10px;
    font-size:  24pt;
  }
}

.full_screen {
  $full_screen_width:  980px;
  width:               $full_screen_width;
  $full_screen_height: 724px;
  height:              $full_screen_height;
  margin-left:         10px;
  border-top:          10px solid black;
  background-color:    $jeopardy_blue;
  font-size:           96px;

  .content {
    width:          $full_screen_width;
    height:         $full_screen_height;
    display:        table-cell;
    vertical-align: middle;
    text-align:     center;
  }
  
  #answer, #question {
    display: none;
  }
}
