body {
  margin:           0px;
  padding:          0px;
  background-image: image-url("wild_oliva.png");
  color:            white;
  
  h1 {
    margin:  0px;
    padding: 0px;
  }
  
  a, a:hover, a:visited {
    color:           white;
    text-decoration: none;
  }

  #peril {
    width:            1000px;
    height:           744px;
    margin:           12px auto;
    background-color: black;
  }
}
