body {
  margin:           0px;
  padding:          0px;
  background-image: image-url("wild_oliva.png");
  color:            white;

  #peril {
    width:            1000px;
    height:           744px;
    margin:           12px auto;
    background-color: black;
  }
}
